---
layout: default
title: "JSConf.sunset()"
id: index
---

<!--
That's all folks!
-->

<div class='container'>
<div class='row' id='directory'>
  <!--
<div class='well'>

  <i class='fa fa-plane boom'></i>
  <h2><a href="getting-here.html">How To Get To JSConf</a></h2>
</div>
</div>
</div>
-->
<div class='col-sm-4' >
<div class='well'>
<i class='fa fa-users boom'></i>
<h2><a href="/tickets.html">Attending?</a></h2>
<p>The very first batch of tickets will go on sale soon. While there will be more tickets available than ever, they will sell out fast. Make sure you know the details and have made the necessary arrangements!</p>

<p><a href="/tickets.html">How do I attend JSConf US 2015? <i class='fa fa-arrow-circle-right'></i></a></p>
</div></div>
<div class='col-sm-4 '>
<div class='well'>
<i class='fa fa-microphone boom'></i>
<h2><a href="/call-for-speakers.html">Speaking?</a></h2>
<p>Our call for speakers will remain open until September 30<sup>th</sup> at 12:00PM EST. We strive every year to push the boundaries of what is possible with node both today and in the near future, we want you on stage!</p>
<p><a href="/call-for-speakers.html">Let's hear it! <i class='fa fa-arrow-circle-right'></i></a></p>
</div>
</div>
<div class='col-sm-4'>
<div class='well'>
<i class='fa fa-star boom'></i>
<h2><a href="/sponsors.html">Sponsoring?</a></h2>
<p>We do things a little different. There are no booths, no exhibit halls, and we encourage you to send your best technical talent. We focus sponsorships on creating amazing shared experiences.</p>
<p><a href="/sponsors.html">Find out more details! <i class='fa fa-arrow-circle-right'></i></a></p>
</div>
</div>
</div>

</div>
<!--
<div class='container' >
<div class='row' id='directory'>

<div class='col-sm-6' >
<div class='well'>

<a href="/getting-here.html">
<i class='fa fa-users boom'></i>
<h2>Bus Schedule</h2></a>
</div></div>


<div class='col-sm-6' >
<div class='well'>
<a href="/schedule.html#brunch">
<i class='fa fa-users boom'></i>
<h2>Booster Brunch</h2>
</a>

</div>
</div>
</div>

</div>
-->



<div class="container marketing">
  <hr class="featurette-divider"/>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Node, Node, Node <br/><span class="text-muted">Back to what matters, you.</span></h2>
      <p class="lead">JSConf this year is being organized with a new event formula that focuses even more on you! The team behind <a href='http://2015.jsconf.us'>JSConf US</a> are driving this year's event to
        create an amazing experience for Node developers! We are focusing the content around critical tactical items including: deployment, production-ready, ES.next and more. This is <b>the developer focused
        node event</b> you were looking for in 2015!

        Like JSConf, this event will feature our famously unique <a href="http://2013.jsconf.us/call-for-speakers">call for speakers</a> process designed to spotlight the new faces and ideas in the community. <br/>
        <br/><a href="/tickets.html">Register now before it sells out.</a></p>
    </div>
    <div class="col-md-5 ">
      <center>
      <img class="featurette-image img-responsive" src="/img/js-sized.png" alt="The JS Logo">
      </center>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/img/building.jpg" alt="developers building bots">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Pushing The Boundaries<br/><span class="text-muted">Every Single Year</span></h2>
      <p class="lead">The team behind this year's JSConf US have been at the forefront of Node.js since its original debut at <a href="http://jsconf.eu/2009/video_nodejs_by_ryan_dahl.html">JSConf EU 2009</a>. With all the events of the past year, we felt it absolutely critical to bring the community back together through an event just as amazing as JSConf, but focused just on Node.
        Join us as we bring together everything that is special about the Node framework and community. Whether you fancy or want to dabble in <a href="http://nodecopter.com/">drones</a>, <a href="http://nodebots.io/">robots</a>, hobby projects, or massive enterprise deployments - <b>this event is for you</b>.


      <br/><br/><a href="/tickets.html">Register now before it sells out.</a></p>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And One Last Thing <br/><span class="text-muted">The Venue</span></h2>
      <p class="lead">For the first time ever, JSConf heads to the East Coast at the <a href="/venue.html"><b>Omni Amelia Island Resort</b></a> with even more exciting events and adventures for you. Positioned north of Jacksonville, FL, this magical space has everything to make your trip incredible. Hop a segway, ride a bike, jump in the ocean, or enjoy the pool. Bring your friends and family, make a good time of the event. <br/><br/><a href="/tickets.html">The greatest venue ever awaits your arrival.</a> </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/img/pool.jpg" alt="Property view">
    </div>
  </div>
  <hr class="featurette-divider">
<!--
  <div class="row featurette" id='sponsor-fp'>
    <div class="col-md-12">
      <h2 class="featurette-heading">With Huge Thanks To:</h2>
      <div class='clearfix'>
          {% for sponsor in site.data.sponsors %}
            {%if sponsor.visible %}
            <a class='sponsor-block' href='{{sponsor.url}}'><img src='/img/sponsors/{{sponsor.logo}}' alt='{{sponsor.name}}'/></a>

            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div> -->

 </div>
