---
layout: default
title: "JSConf US Last Call Speakers"
id: speakers
---
<div class='container'>
<h2>{{site.name}} Speakers</h2>
<br/>
<br/>
<br/>
{% for talk in site.data.speakers %}
{% if talk.visible %}
{% assign firstnames = talk.speakers | map: 'firstname' %}
{% assign lastnames = talk.speakers | map: 'lastname' %}
<div class='col-md-12'>
<div class='speaker clearfix' id='{{lastnames | join: '-' | downcase }}'>
  <div class='container-fluid'>
    <div class='col-sm-2'>
      <div class='pic text-center'>
      {% for speaker in talk.speakers %}
        <img src='/img/speakers/{{speaker.lastname | downcase}}.png' height='100' width='100' alt='{{speaker.firstname}}  {{speaker.lastname}}'/>
      {% endfor %}
      </div>
    </div>
    <div class='col-sm-10'>
      <div class='container-fluid clearfix'>
        {% for speaker in talk.speakers %}
          <div class='col-sm-8'>
            <h3>{{speaker.firstname}} {{speaker.lastname}}</h3>
          </div>
          <div class='col-sm-4 text-right'>
            {% if speaker.smurl %}
            <a href='{{speaker.smurl}}' class='{{speaker.smtype}}'>
              <i class='fa fa-{{speaker.smtype}}-square'></i>
              {{speaker.smhandle}}
            </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class='container-fluid'>
        <div class='col-sm-12'>
          <div class='talk'>
            <h4 class='title'>{{talk.title}}</h4>
            {{talk.body | markdownify}}
          </div>
          <div class='bio'>
            {% if talk.bio %}
              <div class='title'>Meet {{firstnames | array_to_sentence_string }}</div>
              {{talk.bio | markdownify}}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}
{% endfor %}

{% for speaker in site.data.trackb %}
{% if speaker.visible %}
<div class='col-md-12'>
<div class='speaker clearfix' id='{{speaker.lastname | downcase}}'>
  <div class='name'>
    <h3>{{speaker.firstname}} {{speaker.lastname}}</h3>
  </div>
  <div class='talk'>
    <div class='title'>{{speaker.title}}</div>
    {{speaker.body | markdownify}}
  </div>
</div>
</div>
{% endif %}
{% endfor %}
</div>